@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 10px;
}
.input:focus {
    border-color: #3182ce;
    outline: none;
    box-shadow: 0 0 0 1px #3182ce;
}

.nav-link {
    @apply text-gray-600 hover:text-green-700 font-medium transition;
}

.mobile-link {
    @apply block py-2 text-gray-700 hover:text-green-700;
}
